@import '../core/_all';

$input-shadow: inset 0px normalEm(1px) normalEm(3px) 0px rgba($black-ter, 0.3) !default;

:host {
	font-size: $size-normal;
}
:host(.is-small) {
	font-size: $size-small;
}
:host(.is-medium) {
	font-size: $size-medium;
}
:host(.is-large) {
	font-size: $size-large;
}

.input-group__input {
	height: normalEm(50px);
	background-color: $white-bis;
	border-radius: normalEm(4px);
	padding: normalEm(13px) rem(20px);
	box-shadow: $input-shadow;

	$switch-button-active-background: $primary !default;

	$switch-button-focus-track-shadow: inset 0px 0px normalEm(5px) rgba($primary, 0.5) !default;
	$switch-button-focus-active-track-shadow: inset 0px 0px normalEm(5px) rgba($black-ter, 0.5) !default;

}

.input-group__container > .input-group__input ::slotted(.form-control) {
	border: none;
	background: transparent;
}
