@import '../core/_all';

:host {
	font-size: $size-normal;
}
:host(.is-small) {
	font-size: $size-small;
}
:host(.is-medium) {
	font-size: $size-medium;
}
:host(.is-large) {
	font-size: $size-large;
}

.input-group__container > .input-group__input ::slotted(.form-control) {
	margin-left: normalEm(8px);
	margin-top: normalEm(-2px);
}

::slotted(label[for]) {
	cursor: pointer;
}
