@import '../core/_all';

$switch-button-width: normalEm(50px) !default;
$switch-button-height: normalEm(26px) !default;

$switch-button-thumb-gap: normalEm(2px) !default;
$switch-button-thumb-size: normalEm(22px) !default;
$switch-button-thumb-shadow: 0px normalEm(2px) normalEm(2px) 0px rgba($black-ter, 0.1) !default;

$switch-button-track-shadow: $input-shadow !default;
$switch-button-active-background: $primary !default;

$switch-button-focus-track-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color !default;
$switch-button-focus-active-track-shadow: inset 0px 0px normalEm(5px) rgba($black-ter, 0.5) !default;

:host {
	font-size: $size-normal;
	width: $switch-button-width;
	height: $switch-button-height;
	cursor: pointer;
}
:host(.is-small) {
	font-size: $size-small;
}
:host(.is-medium) {
	font-size: $size-medium;
}
:host(.is-large) {
	font-size: $size-large;
}
.btn {
	font-size: inherit;
	width: 100%;
	height: 100%;
}
.switch-button__track {
	border-radius: normalEm(15px);
	box-shadow: $switch-button-track-shadow;
	background: $white-bis;
	transition-property: background-color;
}
.switch-button__thumb {
	box-shadow: $switch-button-thumb-shadow;
	border: 0.5px solid $white-bis;
	background-color: $white;
	top: $switch-button-thumb-gap;
	width: $switch-button-thumb-size;
	height: $switch-button-thumb-size;
	border-radius: 100%;
	right: $switch-button-width - $switch-button-thumb-size - $switch-button-thumb-gap;
	transition-property: right;
}

:host([checked]) {
	.switch-button__track {
		background-color: $switch-button-active-background;
	}

	.switch-button__thumb {
		right: $switch-button-thumb-gap;
	}
}
:host(:focus:not([disabled])) .switch-button__track {
	box-shadow: $switch-button-focus-track-shadow;
}
:host(:focus:not([disabled])[checked]) .switch-button__track {
	box-shadow: $switch-button-focus-active-track-shadow;
}
:host(:focus:not([disabled])) .switch-button__thumb {
	outline: none;
}

/** TODO: Ask how should it look when disabled? */
:host([disabled]) {
	opacity: 0.4;
}
