@function stripUnit($value) {
	@return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return $pxValue / 16px * 1rem;
}

/** Assuming font-size is $size-normal converts px to em */
@function normalEm($pxValue) {
	@return stripUnit($pxValue) / stripUnit($size-normal) / 16 * 1em;
}
