$font-path: '../../fonts/' !default;

/*! Copyright (c) 2020, The Stick Project Authors (https://github.com/fontworks-fonts/Stick).

This Font Software is licensed under the SIL Open Font License, Version 1.1.

This license is copied below, and is also available with a FAQ at: https://scripts.sil.org/OFL */
@font-face {
  font-family: 'Stick';
	src: url($font-path + 'Stick-Regular.ttf') format('truetype');
}
