@import 'bulma/sass/utilities/functions';

$body-size: initial;
$white-bis: #EFEDEA !default;
$black-ter: #333333 !default;

$blue: #008EAF !default;

$family-primary: 'Stick';

$transition-timing-function: cubic-bezier(0.6, 0, 0.15, 1) !default;

@import 'bulma/sass/utilities/initial-variables';
$primary: $blue !default;

@import 'bulma/sass/utilities/_all';
@import 'utilities/functions';

$input-background-color: $white-ter !default;
$input-border-color: transparent !default;
$input-shadow: inset 0px normalEm(1px) normalEm(3px) 0px rgba($black-ter, 0.3) !default;
$input-focus-border-color: transparent !default;
$input-focus-box-shadow-size: inset 0px 0px normalEm(5px) !default;
$input-focus-box-shadow-color: rgba($primary, 0.5) !default;
